{% extends 'base.html.twig' %}

{% block title %}SF5 -LISTE DES PRODUITS-{% endblock %}

{% block body %}
    <h1 class="text-info text-center">EDITER UN PRODUIT</h1>
    {{ form(edit_form) }}
{% endblock %}