{% extends 'base.html.twig' %}

{% block title %}SF5 -INSCRIPTION-{% endblock %}

{% block body %}
    <div class="mt-3 jumbotron">
        <h1 class="text-danger text-center">INSCRIPTION</h1>
        {{ form(registerForm) }}
    </div>

{% endblock %}
